<h3 *ngIf="languages.length == 0 ">Loading ... </h3>

<div class="container" *ngIf="languages.length > 0">
    <h3>Angular 2 Forms</h3>
    <form #form="ngForm"  (submit)="OnFormSubmit(form)" novalidate   >
        
        <!-- class="form-control"" takes the full width of the view port -->

        <div class="form-group" [class.has-error]="firstNameRef.invalid && firstNameRef.touched">
            <label class="control-label">First Name</label>
            
            <input #firstNameRef="ngModel" type="text" class="form-control" required name="firstName" 
                  [(ngModel)]="model.firstName">

                <div *ngIf="firstNameRef.invalid && firstNameRef.touched" class="alert alert-danger">
                    First Name is required.
                </div>
        </div> 

        <div class="form-group" [class.has-error]="lastNameRef.invalid && lastNameRef.touched">
            <label class="control-label">Last Name</label>
            
            <input #lastNameRef="ngModel" type="text" class="form-control" required name="lastName" 
                  [(ngModel)]="model.lastName">

                <div *ngIf="lastNameRef.invalid && lastNameRef.touched" class="alert alert-danger">
                    Last Name is required
                </div>
        </div>


        <!--
        <div class="form-group has-error" >
            <label class="control-label">First Name</label>
            
            <input #firstNameRef="ngModel" type="text" class="form-control" required name="firstName" 
                  [(ngModel)]="model.firstName">

                <div *ngIf="firstNameRef.invalid && firstNameRef.touched" class="alert alert-danger">
                    First Name is required.
                </div>
        </div>
-->
<!--
        <div class="form-group">
            <label>First Name</label>
            
            <input type="text" class="form-control" required name="firstName" 
                  [ngModel]="model.firstName" 
                  (ngModelChange) = "firstNameToUpperCase($event)"
                  />
        </div>
-->
       <!--
        <div class="form-group">
            <label>Last Name</label>
            <input #lastName="ngModel" type="text" class="form-control" required name="lastName" [(ngModel)] = "model.lastName" />
        </div>

       Dirty ::  {{lastName.dirty}}
       -->

        <!--
        <div class="form-group">
            <label>Last Name</label>
            <input #lastName type="text" class="form-control" required name="lastName" [(ngModel)] = "model.lastName" />
        </div>

        Classes::     {{ lastName.className}}  
        -->

        <div class="checkbox">
            <label>
                <input type="checkbox" name="is-Full-Time" [(ngModel)]="model.isFullTime"> Full Time Employee
            </label> 
        </div>

        <label> Payment Type </label>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="W2" checked 
                [(ngModel)] = "model.paymentType"> 
                W2                
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="1099"
                [(ngModel)] = "model.paymentType"> 
                1099
            </label>
        </div>
   

        <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
            <label class="control-label">Primary Language</label>
            <select  #primaryLanguageTR class="form-control"  name="primaryLanguage"
                [(ngModel)] = "model.primaryLanguage"
                (blur) = "validatePrimaryLanguage(primaryLanguageTR.value)"
                (change) = "validatePrimaryLanguage(primaryLanguageTR.value)">

                 <option value="default">Select a language..</option>
                 <option *ngFor="let lang of languages">
                    {{lang}}
                 </option> 
            </select>
        </div> 

        <button class="btn btn-primary"  [disabled]="form.invalid" type="submit">OK</button>
    
   <!--
      <br><br>    
        Model : {{model| json}}
        <br>
        Angular : {{ form.value | json }}
-->       
    </form>
</div>